// @import url('https://fonts.googleapis.com/css?family=Ranchers');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import '../../node_modules/normalize-css/normalize.css';

// BASE

html {
	font-size: 62.5%;
}

body {
	overflow: hidden;
	font-size: 1.0rem;
	// font-family: 'Ranchers', cursive;
	font-family: 'Righteous', cursive;
}

// GAME WRAPPER

.game-wrapper {
	height: 100vh;
	position: relative;
}

// CANVAS 3D

#canvas3d {
	width: 100vw;
	height: 100vh;
	touch-action: none;
}

// CANVAS 2D

#canvas2d-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 30vw;
	height: 30vw;
	// background-color: rgba(255,0,0,0.5);
}

#canvas2d {
}

// COMMON

#options-panel,
#top-panel,
#game-menu {
	position: fixed;
	padding: 1rem;
	background-color: rgba(0,0,0,0.75);
	color: white;

	button {
		border: none;
		padding: 0.5rem 1rem;
		background-color: transparent;
		color: white;
		font-weight: bold;
		text-transform: capitalize;
		transition: all 0.25s;

		&:hover,
		&:focus {
			background-color: white;
			color: #333;
			outline: none;
		}

		&:active {
			background-color: #f80;
			color: white;
		}
	}
}

// TOP PANEL
#top-panel {
	top: 0;
	left: 0;
	width: 100vw;
	display: flex;
}

.top-panel-item {
	margin-right: 1rem;

	> span {
		font-weight: bold;
	}
}

// UI PANEL

#options-panel {
	bottom: 0;
	left: 0;
	width: 100vw;
  text-align: center;

	p {
		margin-top: 0;
	}
}

// GAME MENU PANEL

#game-menu {
	top: 0;
	right: 0;
	padding: 0.5rem;
	padding-bottom: 0;
	color: white;
	transform: translateX(100%);
	transition: all 0.25s;

	&.active {
		transform: translateX(0);
	}

	button {
		display: none;
		width: 100%;
		margin-bottom: 0.5rem;
		text-align: left;
		
		&.game-menu-item--dynamic {
			display: flex;
			justify-content: space-between;

			> span {
				margin-left: 1rem;
			}
		}

		&.game-menu-item--disabled {
			opacity: 0.5;
		}
	}

	&.Attack {
		#game-menu-Attack {
			display: block;
		}
	}
	&.Heal {
		#game-menu-Heal {
			display: block;
		}
	}
	&.Conquer {
		#game-menu-Conquer {
			display: block;
		}
	}
	&.Wait {
		#game-menu-Wait {
			display: block;
		}
	}
	&.BuildUnits {
		#game-menu-BuildUnits {
			display: block;
		}
	}
	&.EndTurn {
		#game-menu-EndTurn {
			display: block;
		}
	}
	&.QuitGame {
		#game-menu-QuitGame {
			display: block;
		}
	}
}

// BIG BANNER

#big-banner {
	position: fixed;
	width: 100vw;
	min-height: 50vh;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	background-color: white;
	transition: all 1s;
	display: none;

	&.active {
		display: block;
	}
	&.above {
		transform: translateY(-250%);
	}
	&.below {
		transform: translateY(150%);
	}
}

#big-banner-content {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	color: #444;
	font-size: calc(2rem + 2vw);
	text-align: center;
	transition: all 1s;

	.text-left & {
		transform: translate3d(-150%, -50%, 0);
	}
	.text-right & {
		transform: translate3d(50%, -50%, 0);
	}
}



